/* *{
  background-color: #a09af1;
} */
body {
  background-color: rgb(49, 47, 47);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.container {
  display: flex;
  
  margin-top: 10%;
  font-style: italic;
  justify-content: center;
  align-items: center;
}

h1 {
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
  font-size:5vw;
  
}

h3 {
  color: red;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

.button1:hover {
  background-color: #4caf50;
  color: white;
}

.section-container {
  margin: 20px 0;
  box-sizing: border-box;

  justify-content: center;
  align-items: center;
}

/* .sectionContainer select,
input {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
} */

.screen {
  background-color: white;
  height: 120px;
  width: 100%;
  margin: 15px, 0;
  /* margin-top: 5%; */
  /* margin-left: 50%;
  margin-right: 50%;
  margin-bottom: 10%; */
  transform: rotateX(-48deg);
  box-shadow: 0px 20px 20px 10px blue;
}

.screenContainer {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  perspective: 1000px;
  margin-bottom: 30px;
}
.scontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* perspective: 1000px;
  margin-bottom: 30px; */
}

.showcase {
  display: flex;
  background: rgba(230, 217, 217, 0.945);
  padding: 5px 10px;
  /* width: 20%; */
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 5px;
  /* color: white; */
  /* width: 400px;
  height: 50px; */
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}
.showcase li small {
  margin-left: 2px;
  color: black;
  font-weight: bold;
}

.row {
  display: flex;
}

.seat {
  height: 50px;
  width: 65px;
  color: rgb(21, 23, 24);
  margin: 10px;
  font-size: 15px;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.r1 {
  background-color: darkcyan;

  height: 26px;
  width: 32px;;
  margin: 3px;
  font-size: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.r2 {
  background-color: aqua;

  height: 26px;
  width: 32px;
  margin: 3px;
  font-size: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.r3 {
  background-color: aquamarine;

  height: 26px;
  width: 32px;
  margin: 3px;
  font-size: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.rank1 {
  margin: 5px;
  width: auto;
  margin: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: darkcyan;
}

.rank2 {
  margin: 5px;
  width: auto;
  margin: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: aqua;
}

.rank3 {
  margin: 5px;
  width: auto;
  margin: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: aquamarine;
}
